
* {
    font-family: 'Lora', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lora', serif;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('../image/yosemite-valley-sunset.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.top-body {
    display: flex;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search-container {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: 0;
}

select {
    display: block;
    margin: 0 auto;
    }

h2 {
    text-align: center;
}

#search-button {
    display: block;
    margin: 0 auto;
}
.stateselector {
    align-items: center;
    width: 200px;
}

.search-button {
    justify-content: center;
}


.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background-color: tan;
}


/* Media queries for different screen sizes */
/*
@media only screen and (max-width: 768px) {
    body {
      background-size: cover;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
      background-size: cover;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    body {
      background-size: 100% 100vh;
    }
  }

  */