
h1 {
    background-image: url('../image/yosemite-valley-sunset.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightgray;
}


p {
    text-align: center;
    flex-wrap: wrap;
    /* For Debugging Purposes */
    /* border: solid red; */
}

.go-back{
    background-color: rgb(189, 159, 136);
    color: rgb(0, 0, 0);
    display: flex;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  
li {
    border: solid rgb(96, 95, 95) 1px;
    box-shadow: 4px 5px 4px rgb(114, 116, 117);
    padding: 10px;
    width: 20%; /* adjust width to your preference */
  }

li.p{
    /* For Debugging Purposes */
    color: pink;
}
